@import '../../styles/variables.scss';
.header {
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: space-between;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.1;
  font-weight: 500;
  .logo {
    display: flex;
    color: $white;
    margin: auto auto auto 0;
  }
  nav {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    flex: 0.3;
  }

  .menuOption {
    color: $white;
    font-weight: bold;
  }
}
