@import '../../styles/variables.scss';

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5%;
  background: none;
  z-index: 99999999;

  width: 100vw;

  .menuContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0 24px;
    gap: 8px;

    .menuOpt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;
    }

    .menuOpt a {
      border: 0.5px solid #fff;
      padding: 4px 16px;
      border-radius: 2px;
    }

    .menuOpt a:hover {
    }
  }
  a,
  .date {
    display: flex;
    margin: auto 0;
    gap: 8px;
    color: $white;
  }

  .date a {
    font-weight: 300;
  }

  .date {
    font-weight: 700;
    max-width: 50px;
  }

  .mantenimiento {
    position: relative;
    margin: auto;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5;
    color: $light-grey;
  }
}
