@import '../../styles/variables.scss';
.about {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  padding: 5em 2.5em;
  height: 40vh;
  justify-content: center;
  background: $light-grey;
  top: 25%;
  left: 5%;
  border: 1px solid $light-black;
  border-radius: 8px;
  h1 {
    font-size: 5em;
    margin: 0;
    color: #000;
  }
  h2 {
    font-size: 2.5em;
    margin: 0;
    color: $aqua;
  }
  p,
  a {
    text-align: center;
    color: $white;
    font-size: 14px;
    font-weight: 100;
  }
}

@media (max-width: 1024px) {
  .about {
    width: 90vw;
    margin: auto;
    padding: 1em;
    left: 0;
  }
}
