.container {
  display: flex;
  flex-direction: column;
  background-color: white;
}
.headlineContent {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  gap: 32px;
}
.headline {
  margin: auto 0;
  padding: 0;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 10vw;
  color: black;
}
.verticalLine {
  display: flex;
  width: 5px;
  margin: 0 0 auto;
  height: 80vh;
  max-height: 100%;
  background-color: black;
}

.brief {
  font-size: 2vw;
  padding: 0;
  max-width: 400px;
  font-weight: 300;
  color: black;
  margin: 0;
  margin-bottom: auto;
}
