@import '../../styles/variables.scss';
.container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 15vw;
  padding: 1.5em 1em;
  border: 1px solid $grey;
  box-shadow: 10px 10px 0px $white;
  margin: 2em;
  gap: 8px;
  h1 {
    font-size: 1.25em;
    padding: 0;
    margin: 0;
    color: $white;
  }

  p {
    font-size: 0.75em;
    padding: 0;
    margin: 0;
    color: $light-grey;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 50vw;
    top: 20%;
  }
}
